{% extends "::base.html.twig" %}

{% block title %}Nowa rozmowa{% endblock %}

{% block body %}
<h1>Zagadaj na temat</h1>
{{ form_start(form) }}
{{ form_widget(form.title) }}
{{ form_end(form) }}
{% endblock %}
