{% extends "::base.html.twig" %}

{% block title %}MessengerBundle:Conversation:showConversation{% endblock %}

{% block body %}
<h1>Welcome to the Conversation:showConversation page</h1>
{% endblock %}
