{% extends 'base.html.twig' %}
    {% block body %}
    <h1>Your Ziomals</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} <br><span>On/Off </span><button>≠<button>+</li>
        {% endfor %}
    </ul>
    {% endblock %}